.about-us-container{
  margin-top: 10%;
}

.AboutUs {
    display: flex;
    flex-direction: column;
  }
  /* .about-us-background {
    background: url('/src/assets/circ.png') no-repeat center center fixed;
    background-size: cover;
  }
   */
  
  .AdvisoryBoard {
    margin-top: 130px; /* Adjusted proportionally */
  }
  
  .IndustryAdvisors {
    margin-top: 160.75px; /* Adjusted proportionally */
  }
  
  .AboutUsTitle {
    @media screen and (max-width:1280px) {
      font-size: 52px; /* Reduced by 35% */
    }
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 52px; /* Reduced by 35% */
    line-height: 41.6px; /* Reduced by 35% */
    text-align: center;
    color: #48627E;
    margin-bottom: 39px; /* Adjusted proportionally */
    margin-top: 13px; /* Adjusted proportionally */
    padding-bottom: 9.75px; /* Adjusted proportionally */
    padding-top: 3.25px; /* Adjusted proportionally */
  }
  
.aboutus-page {
  margin-left: 15%;
  margin-right: 15%;
}

.aboutus-header {
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
}

.aboutus-header-text {
  width: 60%;
  margin-top: 0%;
  margin-left: 5%;
  text-indent: 75px;
  font-size: 20px;
  font-weight: 350;
}

.aboutus-header-img {
  width: 25%;
  height: 25%;
}

.aboutus-title {
  margin-top: 4%;
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 3%;
}

.aboutus-eyespace-content {
  text-align: center;
  margin-left: 23%;
  margin-right: 23%;
  font-size: 20px;
}