.AboutUs{
    display: flex;
    flex-direction: column;
}

.AdvisoryBoard {
    margin-top: 200px;
}

.IndustryAdvisors {
    margin-top: 245px;
}

.AboutUsTitle {
    @media screen and (max-width:1280px) {
        /* font-weight: 500; */
        font-size: 75px;
        /* line-height: 55px; */
    }
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 64px;
    /* identical to box height, or 80% */
  
    text-align: center;
  
    color: #48627E;
    margin-bottom: 80px;
}