.forum-post-details {
    display: flex;
    margin-top:10%;
    flex-direction: column;
    align-items: center;
}

.forum-post-details-container {
    width: 50%;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.post-metadata {
    font-size: 12px;
    color: #888;
    margin-bottom: 15px;
}

.post-author, .post-timestamp {
    margin-right: 10px;
}

.post-text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.post-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.forum-comments {
    margin-top: 30px;
}

.comments-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
