.advisory-card {
  width: 255px; /* 25% smaller */
  height: 480px; /* 25% smaller */
  /* Adjust other properties accordingly */
}

.advisory-pic {
  margin-top: 15px; /* Slightly smaller margin */
  text-align: center; /* Center the content horizontally */
}

.advisory-pic img {
  display: block; /* Set the image to block-level element */
  margin: 0 auto; /* Center the image horizontally */
}


.advisory-name {
  font-size: 18px; /* 25% smaller */
  line-height: 21px; /* 25% smaller */
  /* Adjust other properties accordingly */
  margin-top: 10px; /* Slightly smaller margin */
  font-weight: 700; /* Bold */
  text-align: center;

}

.advisory-desc {
  height: 225px; /* 25% smaller */
  /* Adjust other properties accordingly */
  margin-left: 30px; /* Slightly smaller margin */
  margin-right: 21px; /* Slightly smaller margin */
  margin-top: 10px; /* Slightly smaller margin */
  font-size: 14px; /* 25% smaller */
  line-height: 17px; /* 25% smaller */
}

.advisory-mediaIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(246, 246, 246)


}