.FoundersCards {
  @media screen and (max-width: 920px) {
    display: flex;
    flex-direction: column;
  }
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 24px;
}

/* Apply a 35% font size reduction to all text within .FoundersCards */
.FoundersCards{
  border-radius: 24px;
}

.FoundersCardsLarge {
  border-radius: 24px;
}

.FoundersCardsSmall {
  display: flex;
  justify-content: space-between;
}

.board-of-directors {
  text-align: center;
}