.forum-postcard {
    margin-left: 1%;
    margin-bottom: 3%;
    border-radius: 24px;
    box-shadow: 0px 0px 25px 1px rgb(240, 240, 240);
}

.forum-postcard-link{
    color:black;
}
.forum-postcard-comment-container{
    display: flex;
    width:150px;
    justify-content: center;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 4px;
}

.forum-postcard-like-container{
    display: flex;
    width:100px;
    justify-content: center;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.forum-postcard-like-container:hover{
    background-color: #e2e6ea; /* Slightly darker background on hover */
}

.forum-postcard-comment-container:hover{
    background-color: #e2e6ea; /* Slightly darker background on hover */
}
.forum-postcard-header {
    margin-top: 0.5%;
    margin-left: 1%;
    display: flex;
}

.forum-postcard-header-content {
    margin-left: 0.5%;
}

.forum-postcard-header-content2 {
    display: flex;
}

.forum-postcard-header-username {
    font-size: 18px;
    font-weight: 600;
    color:black;
}

.forum-postcard-header-username:hover{
    text-decoration: underline;
}

.forum-postcard-header-date {
    text-indent: 15px;
    font-size: 18px;
    color: rgb(150, 150, 150);
}

.forum-postcard-header-subreddit {
    font-size: 18px;
    color: rgb(210, 210, 210);
}

.forum-postcard-header-img {
    width: 50px;
    height: 50px;
    border-radius: 240px;
}

.forum-postcard-body {
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.forum-postcard-body-title {
    font-size: 24px;
}

.forum-postcard-body-text {
    font-size: 20px;
}

.forum-postcard-body-img {
    width: 600px;
    height: auto;
}

.forum-postcard-comment {
    margin-left: 1%;
    display: flex;
    margin-bottom: 1%;
    align-items: center;
}

.forum-postcard-like-button {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.forum-postcard-comment-button {
    margin-left: 2%;
    padding-top: 0.5%;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.forum-postcard-input {
    margin-left: 1%;
    height: auto;
    border-radius: 0px;
}

.forum-post-card-submit {
    width: 13%;
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    background-color: rgb(1, 112, 185);

}
.forum-postcard-comment-word{
    cursor: pointer;
}