#blog{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
}

#title{
    font-size: 80px;
    line-height: 70px;
    /* identical to box height, or 80% */
    color: #48627E;
    width: 40%;
}

#top{
    display: flex;
    margin-bottom: 80px;
}

.blog-aboutus{
    position: relative;
    right: 0px; bottom: 0px;
    padding: 5px;
}

#blog-card {
    /*width: 1000px;*/
    width: 100%;
    height: 440px;
      
    flex: none;
    order: 0;
    flex-grow: 0;
    box-sizing: border-box;
  
    left: 0px;
    top: 0px;
  
    background: #FDFDFD;
    border: 1px solid #EBEBEB;
    box-shadow: 4px 4px 22px 10px rgba(181, 181, 181, 0.3);
    border-radius: 40px;

    margin-bottom: 5%;
}

#article{
    display: flex;
}

#blog-detail{
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 3%;
}

#blog-title{
    font-size: 32px;
    line-height: 40px;
    color: #424242;
    margin-bottom: 20px;
}

#blog-content{
    font-weight: 300;
    font-size: 24px;
    line-height: 40px;
    color: #515151;
    margin-bottom: 40px;
}

#blog-date{
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    color: #787878;
}