.forum-comment-card-container {
    margin-left: 2%;
    font-size: 18px;
}

.forum-comment-card-header {
    display: flex;
    align-items: center;
}

.forum-comment-card-img {
    width: 35px;
    height: 35px;
}

.forum-comment-card-title{
    margin-left: 1%;
    display: flex;
    flex-direction: column;
}

.forum-comment-card-date {
    font-size: 18px;
    color: rgb(150, 150, 150);
}

.forum-comment-card-content {
    margin-top: 1%;
}