.navbar {
  height: 100px;
  background: #FFFFFF;
  box-shadow: 0px 4px 12px 6px rgba(129, 129, 129, 0.13);
  border-radius: 0px 0px 40px 40px;
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 60px;
}

.button {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.login-button {
  width: 220px;
  height: 60px;
  margin-top: 20px;
  margin-right: 127px;
  background: #354B86;
  border-radius: 40px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  color: #FDFDFD;
}
.gmail-logo {
  margin-left: 11px; /* Adjust the margin to move the Twitter logo to the left */
}

.logo-div {
  width: 177px;
  height: 55px;
  margin-left: 80px;
  margin-top: 35px;
}

.logo-img-tag {
  width: 100%; /* Make the logo responsive */
  height: auto; /* Maintain aspect ratio */
}

@media only screen and (max-width: 920px) {
  .navbar {
    height: 78px; /* 40% smaller */
  }

  .logo-div {
    width: 106.2px; /* 40% smaller */
    height: 33px; /* 40% smaller */
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 0;
  }

  .buttons {
    gap: 36px; /* 40% smaller */
    margin-left: 20px;
  }

  .button {
    font-weight: 500; /* You can adjust this based on your design */
    font-size: 14.4px; /* 40% smaller */
    line-height: 16.8px; /* 40% smaller */
  }

  .login-button {
    width: 132px; /* 40% smaller */
    height: 36px; /* 40% smaller */
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 36px; /* Adjust this based on your design */
    font-size: 13.2px; /* 40% smaller */
    line-height: 16.8px; /* Adjust this based on your design */
  }
}
