.logos {
    /* Group 11 */
    display: flex; 
    flex-direction: row;
    width: 100%;
    height: 108px;
    /* margin-left: 25%; */
    margin-top: 130px;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    justify-content: center;
  }

.socials {
    /* Frame 6 */
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;

    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
    margin-top: 108px; /* 152px */

}
.copyrightText {
    /* Copyright 2022 Matt Hirabayashi MD | Gurpal Virdi MD */
    display: flex;
    width: 100%;
    height: 28px;
    /* margin-left: 710px; */
    margin-bottom: 100px;
    margin-top: 24px;
    align-items: center;
    justify-content: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 28px;
    /* identical to box height, or 233% */

    letter-spacing: 0.3em;

    color: #000000;
}

@media only screen and (max-width: 920px) { 
    .copyrightText {
        /* Copyright 2022 Matt Hirabayashi MD | Gurpal Virdi MD */
        display: flex;
        width: 100%;
        height: 12px;
        /* margin-left: 710px; */
        margin-bottom: 50px;
        margin-top: 12px;
    
        font-weight: 300;
        font-size: 10px;
        line-height: 20px;
        /* identical to box height, or 233% */
    
        letter-spacing: 0.3em;
    
        color: #000000;
    }

    .socials {
        /* Frame 6 */
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 35px;
    
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 20px;
        margin-top: 10px; /* 152px */
    
    }

    .socials-img-tag {
        width: 35px;
        height: 35px;
    }

    .footer-logo-img-tag {
        width: 150px;
        margin-top: 0px;
        flex-wrap: wrap;
        gap: 10px;
    }
}