/* This is where all of your css would go */
.logos {
    /* Group 11 */
    display: flex;
    width: 930px;
    height: 108px;
    margin-left: 495px;
    margin-top: 4506px;
  }

.socials {
/* Frame 6 */
/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 20px;

/* position: absolute; */
width: 190px;
height: 50px;
margin-left: 866px;
margin-top: 108px; /* 152px */

}
.copyrightText{
/* Copyright 2022 Matt Hirabayashi MD | Gurpal Virdi MD */
position: flex;
width: 500px;
height: 28px;
margin-left: 710px;
margin-bottom: 100px;
margin-top: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 28px;
/* identical to box height, or 233% */

letter-spacing: 0.3em;

color: #000000;
}
