/* This is where all of your css would go */
.eyelabLogo {
/* eyelabswhitelogo-png 1 */
/* position: absolute; */
width: 440px;
height: 100px;
margin-left: 495px;
margin-bottom: 108px;

/* background: url(eyelabswhitelogo-png.png); */
}

.eyeflymdLogo {
/* LOOK-1536x317 1 */
/* position: absolute; */
width: 440px;
height: 90px;
margin-left: 50px;
margin-bottom: 113px;

/* background: url(LOOK-1536x317.png); */
}

.socials {
/* Frame 6 */
/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 20px;

/* position: absolute; */
width: 190px;
height: 50px;
margin-left: 866px;
margin-bottom: 152px;

}