#blog {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Inter';
    /* font-style: normal; */
    font-weight: 600;
}

#title {
    font-size: 52px; /* Reduced by 35% */
    line-height: 49.4px; /* Adjusted proportionally */
    /* identical to box height, or 80% */
    color: #48627E;
    width: 35%;
}

#top {
    display: flex;
    margin-bottom: 52px; /* Adjusted proportionally */
}

.blog-aboutus {
    margin-top: 6.5%; /* Adjusted proportionally */
    width: 100%;
    margin-left: 20%;
}

@media only screen and (max-width: 920px) {
    #top {
        display: block;
        margin-bottom: 52px; 
    }

    #title {
        font-size: 52px; /* Reduced by 35% */
        line-height: 49.4px; /* Adjusted proportionally */
        width: 100%;
        text-align: center;
    }

    .blog-aboutus {
        margin-top: 3.25%; /* Adjusted proportionally */
        margin-left: auto;
    }
}

/* <table className="stats">
                                    <tbody>
                                        <tr className="topstats">
                                            <td>
                                                <div className="stars">
                                                    <span className="star">&#9733;</span><span className="star">&#9733;</span><span className="star">&#9733;</span><span className="star">&#9733;</span><span className="star">&#9733;</span>
                                                </div>
                                            </td>
                                            <td>
                                                50+
                                            </td>
                                            <td>
                                                1000+
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Rating</td>
                                            <td>Countries</td>
                                            <td>Downloads</td>
                                        </tr>
                                    </tbody>
                                </table> */
