#blog-card {
    border: 1px solid #EBEBEB;
    box-shadow: 4px 4px 22px 10px rgba(181, 181, 181, 0.3);
    border-radius: 40px;
    width: 90%; 
    height: 20%;
    padding: 5rem;
}

#article {
    display: flex;
    flex-direction: row; /* Display elements horizontally */
    align-items: center;
    gap: 2rem;
}
.technology-right-align {
    display: flex;
    justify-content: flex-end;
}

#logo-appstore-align {
    margin-bottom: 0%;
}

.blog-appstore-btn {
    display: grid;
    place-items: center;
    width: 100%;
    min-height: 10rem;
}

.technology-appstore-img {
    width: 20rem;
}

#blog-detail {
  
}

#blog-title {
    font-size: 20.8px; /* Reduced by 35% */
    line-height: 26px; /* Adjusted proportionally */
    color: #424242;
    margin-bottom: 9px; /* Adjusted proportionally */
}

#blog-content {
    font-weight: 300;
    font-size: 1.2rem;
    color: #515151;

}

.technology-card-img {
    width: 20rem;    
}

.eyespace-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
}

.eyespace-card {
    border: 1px solid #EBEBEB;
    box-shadow: 4px 4px 22px 10px rgba(181, 181, 181, 0.3);
    border-radius: 40px;
    height: auto; 
    padding: 2rem;
}

.eyespace-card-title {
    margin-top: 1%;
    margin-bottom: 2%;
    font-size: 17px;
    text-align: center;
}

.eyespace-card-img-container {
    display: grid;
    place-items: center;
    width: 100%;
}

.eyespace-card-img {
    width: 5rem;
    margin: 1rem auto;
}

.eyespace-card-content {
    font-weight: 300;
    font-size: 15px;
    text-align: center;
}

@media only screen and (max-width: 920px) {
    #article {
        display: block;
    }

    #blog-detail {
        margin-right: 5%;
    }

    #blog-img {
        margin-top: -5%;
        margin-left: 20%;
        margin-right: auto;
        width: 50%;
    }
}