.blog-div{
    margin-top: 10%;
  }
  

#blog {
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Inter';
    /* font-style: normal; */
    font-weight: 600;
    align-items: center;
}

.technology-title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 2%;
}


@media only screen and (max-width: 920px) {
    #top {
        display: block;
        margin-bottom: 52px; 
    }

    #title {
        font-size: 52px; /* Reduced by 35% */
        line-height: 49.4px; /* Adjusted proportionally */
        width: 100%;
        text-align: center;
    }

    .blog-aboutus {
        margin-top: 3.25%; /* Adjusted proportionally */
        margin-left: auto;
    }
}

/* <table className="stats">
                                    <tbody>
                                        <tr className="topstats">
                                            <td>
                                                <div className="stars">
                                                    <span className="star">&#9733;</span><span className="star">&#9733;</span><span className="star">&#9733;</span><span className="star">&#9733;</span><span className="star">&#9733;</span>
                                                </div>
                                            </td>
                                            <td>
                                                50+
                                            </td>
                                            <td>
                                                1000+
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Rating</td>
                                            <td>Countries</td>
                                            <td>Downloads</td>
                                        </tr>
                                    </tbody>
                                </table> */
