#blog-card {

    border: 1px solid #EBEBEB;
    box-shadow: 4px 4px 22px 10px rgba(181, 181, 181, 0.3);
    border-radius: 40px;
    margin-bottom: 1%;
    padding: -100px;
    width: 90%; 
    height: 20%;
    margin-left: 51px;
}

#article {
    display: flex;
    flex-direction: row; /* Display elements horizontally */
    align-items: center;
}
.technology-right-align {
    display: flex;
    justify-content: flex-end;
}

#logo-appstore-align {
    margin-bottom: 0%;
}

.technology-appstore-img {
    margin-top: -10%;
    margin-left: -5%;
    scale: 30%;
}

#blog-detail {
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 3%;
}

#blog-title {
    font-size: 20.8px; /* Reduced by 35% */
    line-height: 26px; /* Adjusted proportionally */
    color: #424242;
    margin-bottom: 9px; /* Adjusted proportionally */
}

#blog-content {
    font-weight: 300;
    font-size: 15px; /* Reduced by 35% */
    line-height: 26px; 
    color: #515151;

}

.technology-card-img {
    margin-left: 1%;
    scale: 75%;
}

.eyespace-card-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    margin-bottom: 0; 
    margin-top: -2%;
}

.eyespace-card {
    border: 1px solid #EBEBEB;
    box-shadow: 4px 4px 22px 10px rgba(181, 181, 181, 0.3);
    border-radius: 40px;
    margin-right: 1.5%;
    margin-bottom: 1.5%;
    width: 35%; /* Reduced by 35% */
    height: auto; 
}

.eyespace-card-title {
    margin-top: 1%;
    margin-bottom: 2%;
    font-size: 17px;
    text-align: center;
}

.eyespace-card-img {
    margin-left: 42%;
    margin-bottom: 2%;
    width: 100px;
    height: 100px;
}

.eyespace-card-content {
    font-weight: 300;
    font-size: 15px;
    text-align: center;
}

@media only screen and (max-width: 920px) {
    #article {
        display: block;
    }

    #blog-detail {
        margin-right: 5%;
    }

    #blog-img {
        margin-top: -5%;
        margin-left: 20%;
        margin-right: auto;
        width: 50%;
    }
}
