.body{
  margin: 20%;
}

.title{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 0px;
  /* identical to box height, or 0% */

  text-align: center;

  color: #446087;
  margin-top: 3%;
  margin-bottom: 3%;
}

.tool{
  display: flex;
  padding: 3%;
  justify-content: center;
}

.card {
  width: 340px;
  height: 500px;
    
  flex: none;
  order: 0;
  flex-grow: 0;
  box-sizing: border-box;

  /* position: absolute; */
  width: 340px;
  height: 500px;
  left: 0px;
  top: 0px;

  background: #FDFDFD;
  border: 1px solid #EBEBEB;
  box-shadow: 4px 4px 30px 10px rgba(181, 181, 181, 0.3);
  border-radius: 40px;

  margin: 20px;
}

.card-img{
  padding: 8%;
}

.card-title{
  padding: 5%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;

  color: #515151;
  margin: 5%;
}

.card-content{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */
  color: #515151;
  margin: 12%;
}

#card2{
  margin-top: -2%;
}

@media only screen and (max-width: 920px) {
  .body{
    margin: 20%;
  }
  
  .title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 70px; /* less overlap when window size decreases */
    /* identical to box height, or 0% */
  
    text-align: center;
  
    color: #446087;
    margin-top: 3%;
    margin-bottom: 3%;

    position: relative;
    white-space: normal;
  }
  
  .tool{
    display: flex;
    flex-wrap: wrap;
    padding: 3%;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 15%;
  }
  
  .card {
    width: 340px;
    height: 500px;
      
    flex: none;
    order: 0;
    flex-grow: 0;
    box-sizing: border-box;
  
    /* position: absolute; */
    width: 340px;
    height: 500px;
    left: 0px;
    top: 0px;
  
    background: #FDFDFD;
    border: 1px solid #EBEBEB;
    box-shadow: 4px 4px 30px 10px rgba(181, 181, 181, 0.3);
    border-radius: 40px;
    
    margin: 20px;
    }
  
  .card-img{
    padding: 8%;
  }
  
  .card-title{
    padding: 5%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
  
    color: #515151;
    margin: 5%;
  }
  
  .card-content{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */
    color: #515151;
    margin: 12%;
  }
  
  #card2{
    margin-top: -2%;
  }
}