.title{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 0px;
  /* identical to box height, or 0% */

  text-align: center;

  color: #446087;
}

.tool{
  display: flex;
  padding: 5%;
}

.cards {
  width: 340px;
  height: 500px;
    
  flex: none;
  order: 0;
  flex-grow: 0;
  box-sizing: border-box;

  /* position: absolute; */
  width: 340px;
  height: 500px;
  left: 0px;
  top: 0px;

  background: #FDFDFD;
  border: 1px solid #EBEBEB;
  box-shadow: 4px 4px 30px 10px rgba(181, 181, 181, 0.3);
  border-radius: 40px;

  margin: 2%;

}

.card-img{
  padding: 10%;
}

.card-title{
  padding: 5%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;

  color: #515151;
  margin: 5%;
}

.card-content{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */
  color: #515151;
  margin: 12%;
}