.search-exchange{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.exchange-container{
    margin-top:5%;
    
}
.exchange-title{
    text-align: center;
    font-size: 24px;
}

#top{
    display: flex;
    margin-bottom: 80px;
}

.blog-aboutus{
    margin-top: 10%;
    width: 100%;
    margin-left: 20%;
}

.blogcontainer {
    display: flex;
    margin-left: 1%;
    margin-right: 3%;
}

.BlogCards {
    width: 75%;
}

.editor {
    margin-left: 3%;
    margin-right: 0%;
    width: 25%;
    height: 100%;
    text-align: center;
}

.editor-img {
    width: 80%;
    height: 80%;
}

.editor-name {
    font-size: 21px;
}

.forum-postcard-container {
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: column;
}

.add-post-container {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2%;
}

.add-post-button {
    border-width: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 24px;
    padding: 1%;
    display: flex;
    width: 35%;
    align-items: center;
    
}

.add-post-icon {
    width: 30px;
    height: 30px;
}

.add-post-text {
    font-size: 24px;
}

.add-post-input-title {
    width: 70%; 
    font-size: 22px;
    margin-top: 2%;
}

.add-post-input-content {
    margin-top: 0%;
    width: 100%;
    font-size: 20px;
}

.add-post-submit {
    width: 13%;
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    background-color: rgb(1, 112, 185);
    margin-top: 2%;
}

.add-post-input-selection{
    margin-top: 3%;
    width: 40%;
    font-size: 20px;
    border-radius: 20px;
}

.add-post-image-container {
    margin-bottom: 3%;
    margin-left: 1%;
    border: none;
    background: transparent;
}

.add-post-image-upload {
    margin-top: 3%;
    border: none;
    border-radius: 0;
    background: transparent;
}

@media only screen and (max-width: 920px) {
    #top{
        display: block;
        margin-bottom: 80px; 
    }

    #title{
        width: 100%;
        text-align: center;
    }

    .blog-aboutus{
        margin-top: 5%;
        margin-left: auto;
    }
}