.founders-card-large {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-left: -1%;
  width: 104%;
  box-shadow: 0px 0px 25px 1px rgb(240, 240, 240);
  margin-bottom: 3%;
}

.founder-pic-large-container {
  margin-left: 5%;
  margin-top: 20px;
  margin-right: 5%;
  flex-shrink: 0;
  border-radius: 240px;
  background: #FEFEFE;
}

.founder-pic-large {
  width: 250px;
  height: 250px;
}

.founder-name-large {
  text-align: center;
  font-size: 28px; /* 35% smaller */
  font-family: Inter;
  font-weight: 600;
  margin-top: 5%;
}

.founder-desc-large {
  text-align: left;
  font-size: 20px;
  font-family: Inter;
  text-indent: 50px;
  font-weight: 100;
  margin-top: 5%;
}

.mediaIcons-large {
  display: flex;
  flex-direction: row;
  margin-left: 30%;
}

.mediaIcon-large {
  width: 50px;
  height: 50px;
}